@font-face {
  font-family: 'Comfortaa';
  src: url('Comfortaa/comfortaa-regular-webfont.eot');
  src: url('Comfortaa/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Comfortaa/comfortaa-regular-webfont.woff2') format('woff2'),
       url('Comfortaa/comfortaa-regular-webfont.woff') format('woff'),
       url('Comfortaa/comfortaa-regular-webfont.ttf') format('truetype'),
       url('Comfortaa/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('BebasNeue/bebasneue-regular-webfont.woff2') format('woff2'),
       url('BebasNeue/bebasneue-regular-webfont.woff') format('woff'),
       url('BebasNeue/bebasneue-regular-webfont.ttf') format('truetype'),
       url('BebasNeue/bebasneue-regular-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Typo Round';
  src: url('TypoRound/typo_round_regular_demo-webfont.eot');
  src: url('TypoRound/typo_round_regular_demo-webfont.eot?#iefix') format('embedded-opentype'),
       url('TypoRound/typo_round_regular_demo-webfont.woff2') format('woff2'),
       url('TypoRound/typo_round_regular_demo-webfont.woff') format('woff'),
       url('TypoRound/typo_round_regular_demo-webfont.ttf') format('truetype'),
       url('TypoRound/typo_round_regular_demo-webfont.svg#typo_round_regular_demoRg') format('svg');
  font-weight: normal;
  font-style: normal;
}